.table{
    width: 60%;
    position: center;
    text-align: center;
    margin: auto;

}
#input-name, #party, #input-votes{
    width: 100%;
}
.h1{
    text-align: center;
    position: absolute;
    left: 37.5%
}
.container #btn-add-candidate{
    position: relative;
    top: 15%;
    left: 20%
}

#name-for-table{
    text-align: left;
}
#modal-chart-button{
    position: relative;
    top: 20%;
    left: 58%;
    background-color: green ;
}

